<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acronym Learning Platform</title>
    <link rel="stylesheet" href="/css/learnPage.css">
  </head>
<body>

    <header>
        <h1 id="acronym-meanings-title">Acronym Meanings</h1>
        <button id="login-button-hdr">Login</button>
        <button id="logout-button-hdr">Logout</button>
    </header>

    <div class="filter-section">

        <p id="filter-by-text">Filter by:</p>
        <div class="filter-option-container">
          <select class="select-option" name="category" id="categoryDropdown">
            <option value="all" disabled selected>
              Category
            </option>
            <option value="Business">Business</option>
            <option value="Tech">Tech</option>
          </select>
        </div>

        <div class="filter-option-container">
          <select class="select-option" name="Length" id="lengthDropdown">
            <option value="-1" disabled selected>
              Length
            </option>
            <option value="3">3-letter</option>
            <option value="4">4-letter</option>
          </select>
        </div>

        <div class="filter-option-container">
          <button class="select-option" id="all-button">
            All
          </button>
        </div>

        <div class="search-container">
          <svg class="search-icon" aria-hidden="true" viewBox="0 0 24 24">
              <g>
                  <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
              </g>
          </svg>
          <input placeholder="Search" maxlength="5" onkeyup="filterTableBySearch()" type="search" class="search-input" id="search-input-id">
        </div>

      </div>

    <div class="main-container">
        <div class="table-container">
            <table id="acronym-table">
                <thead>
                    <tr>
                        <th id="acronym-th">Acronym</th>
                        <th id="meaning-th" class="meaning-header-with-add-btn" colspan="2">
                          Meaning
                          <button id="add-new-acronym-btn">Add</button>
                      </th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="acronym : ${acronyms}" th:attr="data-acronym-id=${acronym.id}">
                    <td class="acronym-cell" th:text="${acronym.acronym}"></td>
                    <td class="acronym-cell" th:text="${acronym.meaning}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="description">
            <div class="titles-container">
                <h2 class="small-title">Description</h2>
                <h3 id="meaning-of-chosen-acronym">Meaning Of Acronym</h3>
            </div>
            <div class="description-text-div">
                <p class="description-text" id="description-text"></p>
            </div>
              <button id="edit-description-button">Edit description</button>
        </div>

        <div id="addit-login">
          <div class="title-container">
            <h2 class="small-title">Please login</h2>
            <h3 id="auth-message">Only authorised users can add or edit an acronym</h3>
          </div>
          <div class="login-inputs">
            <input type="text" placeholder="Username" required class="login-inputu">
            <input type="password" placeholder="Password" required class="login-inputp">
          </div>
          <div id="login-error-div">
            <p id="login-error-message">Incorrect username or password</p>
          </div>
          <div class="login-button-div">
            <button id="cancel-login" class="login-div-btn">Cancel</button>
            <button id="login-button" class="login-div-btn">Login</button>
          </div>
        </div>

        <div id="edit-description">
          <div class="titles-container">
              <h2 class="small-title">Suggest an improved description for:</h2>
              <h3 id="meaning-of-acronym-to-be-edited">Meaning Of Acronym</h3>
          </div>
          <div class="new-description-text-div">
            <textarea type="text" id="newDescription"></textarea>
          </div>
          <div class="new-acronym-bottom-bar">
            <button id="cancel-description-button">Cancel</button>
            <button type="submit" id="submit-new-description-button">Submit</button>
          </div>    
        </div>

        <div id="logged-in-temp">
          <div class="titles-container">
              <h2 class="small-title">Successfully logged in</h2>
              <h3 id="meaning-of-acronym-to-be-edited">Redirecting</h3>
              <h2 id="tick">✅</h2>
          </div>   
        </div>

        <div id="add-acronym-container">
          <h2 id="add-new-acronym-title">Add a new acronym</h2>
          <div id="new-acronym-form">
            <div class="A-M-C-Options">
              <label for="new-acronym-letters" class="new-acronym-labels">Acronym:</label>
              <input class="new-acronym-input" type="text" id="new-acronym-letters" name="new-acronym-letter" maxlength="4">

              <label for="new-acronym-meaning" class="new-acronym-labels">Meaning:</label>
              <input class="new-acronym-input" type="text" id="new-acronym-meaning" name="new-acronym-meaning">

              <label for="new-acronym-category" class="new-acronym-labels">Category:</label>
              <select id="new-acronym-category" name="category" class="add-new-acronym-category">
                <option value="all" disabled selected>Category</option>
                <option value="Business">Business</option>
                <option value="Tech">Tech</option>
              </select>
            </div>
          </div>

          <div class="new-acronym-description-container">
            <label for="new-acronym-description" class="new-acronym-labels" id="new-description-label">Description:</label>
            <textarea type="text" id="new-acronym-description" name="new-acronym-description"></textarea>
          </div>

          <div id="add-acronym-error-div">
            <p id="add-acronym-error-message">Please ensure no fields are empty</p>
          </div>

          <div class="new-acronym-bottom-bar">
            <button id="cancel-new-acronym-button">Cancel</button>
            <button type="submit" id="submit-new-acronym-button">Submit</button>
          </div>


    </div>
    <script src="/javascript/learnPage.js"></script>
    <script src="/javascript/learnPageLogin.js"></script>
</body>
</html>