<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/quizPage.css">
</head>
<body>

    <main>
        <h3 id="question-number"></h3>
        <h1 id="question"></h1>
        <h1 class="quiz-over hidden">Quiz Over!</h1>
        <h3 class="quiz-over hidden">Thank you for playing</h3>
        <h3 class="quiz-over hidden" id="score">Your score: </h3>

        <div class="options">
        </div>

    </main>
    
    <script src="/javascript/quizPage.js"></script>
</body>
</html>