<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/quizPage.css">
</head>
<body>

    <main>
        <div id="quiz-container">
            <h3 id="question-number"></h3>
            <h1 id="question"></h1>
            <div class="options"></div>
        </div>
        <div id="quiz-results" class="hidden">
            <h1 id="quiz-over-message">Quiz Over!</h1>
            <h3 class="quiz-over" id="ty-message">Thank you for playing</h3>
            <h3 class="quiz-over" id="score">Your score: </h3>
            <div class="next-button-container">
                <button class="next-button" id="playAgainButton">Play again</button>
                <button class="next-button" id="changeSettingsButton">Change settings</button>
            </div>
        </div>
        

    </main>
    
    <script src="/javascript/quizPage.js"></script>
</body>
</html>