<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Menu</title>
    <link rel="stylesheet" href="css/quizMenu.css">
</head>
<body>
    <main>
        <h1 id="take-quiz-title">Take a quiz</h1>

        <section id="practice-mode-container">
            <h3 id="select-questions-title">Number of questions</h3>
            <div class="question-option-container">
                <div class="first-options">
                    <button class="option-button">5</button>
                    <button class="option-button">10</button>
                    <button class="option-button">15</button>
                </div>
                <div class="second-options">
                    <button class="option-button">20</button>
                    <button class="option-button">50</button>
                    <button class="option-button">100</button>
                </div>

                <h3 id="filter-title">Filters:</h3>
                <div class="categories-options-container">
                    <div class="first-categories-options">
                        <button class="categories-button">Business</button>
                        <button class="categories-button">Technology</button>
                    </div>
                    <div class="length-options">
                        <button class="length-button">3 Letter</button>
                        <button class="length-button">4 Letter</button>
                        <button class="length-button" id="all-button">All</button>
                    </div>
                </div>

            </div>
        </section>

        <footer class="start-button-container">
            <button id="start-button">Start</button>
        </footer>

    </main>
    
    <script src="javascript/quizMenu.js"></script>
</body>
</html>