<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/css/quizPage.css">
</head>
<body>

    <main>
        <h3 id="question-number">Question x of x</h3>
        <h1 id="question">What does XXX stand for?</h1>

        <div class="options">
            <button class="option" id="button">
                Lorem Ipsum Dolor
            </button>

            <button class="option">
                Lorem Ipsum Dolor
            </button>

            <button class="option">
                Lorem Ipsum Dolor
            </button>

            <button class="option">
                Lorem Ipsum Dolor
            </button>
        </div>

    </main>
    
    <script src="/javascript/quizPage.js"></script>
</body>
</html>